<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Normal Layout</title>
</head>

<body>
    <div>
        <p>default layout: block;</p>
        <span>default layout: inline</span>
        <span> | default layout: inline</span>
        <h3>default alyout: ul li</h3>
        <ul>
            <li>list 1</li>
            <li>list 2</li>
            <li>list 3</li>
            <li>list 4</li>
            <li>list 5</li>
        </ul>
        <table>
            <thead>defalut layout: table</thead>
            <tbody>
                <tr>
                    <th>title 1</th>
                    <th>title 2</th>
                    <th>title 3</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>


            </tbody>
            <tfoot>
                <tr>
                    <td>footer 1</td>
                    <td>footer 2</td>
                    <td>footer 3</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>