<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flex Layout</title>
</head>
<body>
    150 + (1* 150 / (1* 150 + 4*150)* -200)
    <h3>Flex Property</h3>
    <ul>
        <li>flex</li>
        <li>flex-grow</li>
        <li>flex-basis</li>
        <li>flex-shrink</li>
        <li>flex-direction</li>
        <li>flex-wrap</li>
        <li>flex-flow</li>
        <li>order</li>
    </ul>
    <h3>Alignment Properties</h3>
    <ul>
        <li>justify-content</li>
        <li>place-items</li>
        <li>align-content</li>
        <li>row-gap</li>
        <li>align-items</li>
        <li>column-gap</li>
        <li>align-self</li>
        <li>gap</li>
        <li>place-content</li>
    </ul>
</body>
</html>