<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Table Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="table">
        <div class="caption">Caption</div>
        <div class="header">
            <div class="row">
                <p>Header A</p>
                <p>Header B</p>
                <p>Header C</p>
                <p>Header D</p>
            </div>
        </div>
        
        <div class="colgroup">
            <div class="col"></div>
            <div class="col" span="2"></div>
            <div class="col" span="1"></div>
        </div>
        <div class="body">
            <div class="row">
                <p class="cell">Lorem ipsum dolor sit amet.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
            </div>
            <div class="row">
                <p class="cell">Lorem ipsum dolor sit.</p>
                <p class="cell">Lorem, ipsum.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
            </div>
            <div class="row">
                <p class="cell">Lorem ipsum dolor sit.</p>
                <p class="cell">Lorem, ipsum.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
            </div>
            <div class="row">
                <p class="cell">Lorem ipsum dolor sit.</p>
                <p class="cell">Lorem, ipsum.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
                <p class="cell">Lorem, ipsum dolor.</p>
            </div>

        </div>
        <div class="footer">
            <div class="row">
                <p>Footer A</p>
                <p>Footer B</p>
                <p>Footer C</p>
            </div>
        </div>
    </div>
</body>

</html>